<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet"  href="/css/home.css">
    <title>Product Order Form</title>
</head>

<body>
<main>
    <div class="title">
        <h1>Product Order Form</h1>
        <p>Please fill all the required fields and select your desired product!</p>
    </div>

    <div class="content">

        <form th:action="@{/orders/create}" th:object="${orderRequestDTO}" method="post">

            <p>Full Name</p>
            <div class="row">
                <input type="text" th:field="*{firstName}" placeholder="First" required/>
                <input type="text" th:field="*{lastName}" placeholder="Last" required/>
            </div>

            <p>Email</p>
            <input type="email" th:field="*{email}" placeholder="suzune@gmail.com" required/>

            <div  th:if="${#fields.hasErrors('email')}"
                  th:errors="*{email}">
            </div>
            <p>Phone Number</p>
            <input type="text" th:field="*{phoneNumber}" placeholder="123 456 789" required/>

            <p>Shipping Address</p>
            <input type="text" th:field="*{addressLine1}" placeholder="Address line 1" required/>
            <input type="text" th:field="*{addressLine2}" placeholder="Address line 2" required/>

            <div class="row">
                <input type="text" th:field="*{city}" placeholder="City" required/>
                <input type="text" th:field="*{region}" placeholder="Region"/>
            </div>

            <div class="row">
                <input type="text" th:field="*{postalCode}" placeholder="Postal / Zip Code" required/>
                <select th:field="*{country}" required>
                    <option value="" disabled selected>Country</option>
                    <option value="United States">United States</option>
                    <option value="Canada">Canada</option>
                    <option value="United Kingdom">United Kingdom</option>
                    <option value="Australia">Australia</option>
                </select>
            </div>

            <div class="buttons">
                <button type="submit">Add</button>
                <button type="reset" class="cancel">Cancel</button>
                <button type="button" class="view-order-btn">
                    <a href="/order/view-order-list">View Order List</a>
                </button>
            </div>
        </form>
    </div>
    <div>
                <p th:text="${notification}" > </p>
    </div>
</main>
</body>
</html>
