*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
}
main {
    max-width: 100%;
    margin: 40px auto;
    background: #fff;
    padding: 30px 40px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.title {
    text-align: center;
    margin-bottom: 30px;
}

.header th{
    padding: 3px;
}
thead th {
    font-size: 1rem;
}

table{
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
}
tr{
    border: 1px solid black;
}
td{
    border: 1px solid black;
    padding: 5px;
    font-size: 14px;
    text-align: center;
}
th{
    border: 1px solid black;
    padding: 1px;
    text-align: center;
}



