name: Build CI
on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master ,main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        run: actions/checkout@v4
      - name: Setup Java 21
        run: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
      - name: Build project with Maven
        run: mvn clean package

